<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiafish.mapper.GoodsMapper">
        <insert id="insertImages" parameterType="java.util.Map">
            INSERT INTO xiafish.goods_img (goods_id, goods_img_url)
            VALUES
            <foreach collection="urls" item="url" separator=",">
                (#{goodsId}, #{url})
            </foreach>
    </insert>

    <select id="searchGoods" resultType="com.xiafish.pojo.Goods">
        select goods.*,user.user_campus as goodsCampus
        from xiafish.goods
        LEFT JOIN xiafish.user
        ON goods.seller_id = user.user_id
        <where>
            <if test="goodsName != null and goodsName != ''">goods_name like concat('%',#{goodsName},'%')</if>
            <if test="goodsCategoryName != null and goodsCategoryName != ''">and goods_category_name = #{goodsCategoryName}</if>
            <if test="begin != null ">and release_time = #{begin}</if>
            <if test="end != null ">and release_time = #{end}</if>
            <if test="lowPrice != null ">and cur_price >= #{lowPrice}</if>
            <if test="highPrice != null ">and cur_price = #{highPrice}</if>
            <if test="campus != null and campus != ''">and user.user_campus like #{campus}</if>
        </where>
        order by release_time
    </select>
</mapper>