<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiafish.mapper.OrderMapper">
    <insert id="addOrder" parameterType="com.xiafish.pojo.Order">
        INSERT INTO xiafish.order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="buyerId != null and buyerId != ''">buyer_id,</if>
            <if test="sellerId != null and sellerId != ''">seller_id,</if>
            <if test="goodsId != null and goodsId != ''">goods_id,</if>
            <if test="orderNum != null and orderNum != ''">order_num,</if>
            <if test="orderSumPrice != null and orderSumPrice != ''">order_sum_price,</if>
            <if test="orderStatus != null and orderStatus != ''">order_status,</if>
            <if test="orderDateTime != null and orderDateTime != ''">order_date_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="buyerId != null and buyerId != ''">#{buyerId},</if>
            <if test="sellerId != null and sellerId != ''">#{sellerId},</if>
            <if test="goodsId != null and goodsId != ''">#{goodsId},</if>
            <if test="orderNum != null and orderNum != ''">#{orderNum},</if>
            <if test="orderSumPrice != null and orderSumPrice != ''">#{orderSumPrice},</if>
            <if test="orderStatus != null and orderStatus != ''">#{orderStatus},</if>
            <if test="orderDateTime != null and orderDateTime != ''">#{orderDateTime},</if>
        </trim>
    </insert>
</mapper>