<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiafish.mapper.UserMapper">
    <update id="updateUser" parameterType="com.xiafish.pojo.User">
        UPDATE xiafish.user
        <set>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="userNickname != null and userNickname != ''">user_nickname = #{userNickname},</if>
            <if test="userGender != null ">user_gender = #{userGender},</if>
            <if test="userPhoneNum != null and userPhoneNum != ''">user_phone_num = #{userPhoneNum},</if>
            <if test="userEmail != null and userEmail != ''">user_email = #{userEmail},</if>
            <if test="userProfile != null and userProfile != ''">user_profile = #{userProfile},</if>
            <if test="userPhoto != null and userPhoto != ''">user_photo = #{userPhoto},</if>
            <if test="userCampus != null and userCampus != ''">user_campus = #{userCampus},</if>
        </set>
        WHERE user_id = #{userId}
    </update>


    <insert id="addGoods" parameterType="com.xiafish.pojo.Goods">
        INSERT INTO xiafish.goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsName != null and goodsName != ''">goods_name,</if>
            <if test="oriPrice != null ">ori_price,</if>
            <if test="curPrice != null ">cur_price,</if>
            <if test="goodsCategoryName != null and goodsCategoryName != ''">goods_category_name,</if>
            <if test="sellerId != null ">seller_id,</if>
            <if test="releaseTime != null ">release_time,</if>
            <if test="inventory != null ">inventory,</if>
            <if test="goodsProfile != null and goodsProfile != ''">goods_profile,</if>
            <if test="goodsPhotos!=null and goodsPhotos != ''"> goods_photos</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsName != null and goodsName != ''">#{goodsName},</if>
            <if test="oriPrice != null ">#{oriPrice},</if>
            <if test="curPrice != null ">#{curPrice},</if>
            <if test="goodsCategoryName != null and goodsCategoryName != ''">#{goodsCategoryName},</if>
            <if test="sellerId != null ">#{sellerId},</if>
            <if test="releaseTime != null ">#{releaseTime},</if>
            <if test="inventory != null ">#{inventory},</if>
            <if test="goodsProfile != null and goodsProfile != ''">#{goodsProfile},</if>
            <if test="goodsPhotos!=null and goodsPhotos != ''"> #{goodsPhotos}</if>
        </trim>
    </insert>

    <delete id="deleteGoods">
            delete from xiafish.goods where seller_id = #{userId}
            <if test="goodsids != null and goodsids.size() > 0">
                and goods_id in
                <foreach item="item" index="index" collection="goodsids" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </delete>

    <update id="updateGoods" parameterType="com.xiafish.pojo.Goods">
        UPDATE xiafish.goods
        <set>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="goodsName != null and goodsName != ''">goods_name=#{goodsName},</if>
            <if test="oriPrice != null ">ori_price=#{oriPrice},</if>
            <if test="curPrice != null ">cur_price=#{curPrice},</if>
            <if test="goodsCategoryName != null and goodsCategoryName != ''">goods_category_Name=#{goodsCategoryName},</if>
            <if test="sellerId != null ">seller_id=#{sellerId},</if>
            <if test="releaseTime != null">release_time=#{releaseTime},</if>
            <if test="inventory != null ">inventory=#{inventory},</if>
            <if test="goodsProfile != null and goodsProfile != ''">goods_profile=#{goodsProfile},</if>
            <if test="goodsPhotos!=null and goodsPhotos != ''"> goods_photos=#{goodsPhotos}</if>
        </set>
        WHERE goods_id=#{goodsId}
    </update>

    <select id="selectOrder" resultType="com.xiafish.pojo.ReturnOrder">
        select o.*, buyer.user_name as buyerName, seller.user_name as sellerName, goods.goods_name, goods.goods_photos
        from xiafish.`order` o
        left join xiafish.user buyer on o.buyer_id = buyer.user_id
        left join xiafish.user seller on o.seller_id = seller.user_id
        left join xiafish.goods on o.goods_id = goods.goods_id
        <where>
            o.seller_id = #{userid} or o.buyer_id = #{userid}
        </where>
    </select>
</mapper>